@use "./../../styles/variable" as *;
.controlsBar {
  display: flex;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  border: $border;
  border-radius: $borderRadius;
  gap: 1rem;
}