:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.counters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.counter-wrapper {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 2rem;
    border: 2px solid #46cce4;
    border-radius: 8px;
    font-size: 50px;
    font-weight: 700;
}

.counter {
    width: 90%;
    height: 70px;
    padding: 2rem;
    border: 2px solid #46cce4;
    border-radius: 8px;
    color: #46cce4;
    /*font-size: 50px;*/
    font-weight: 700;
}

.maxCounter {
    width: 90%;
    height: 70px;
    padding: 2rem;
    border: 2px solid #46cce4;
    border-radius: 8px;
    color: red;
    font-size: 50px;
    font-weight: 700;
}

.set-counter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    height: 70px;
    padding: 2rem;
    border: 2px solid #46cce4;
    border-radius: 8px;
    color: #46cce4;
    font-size: 20px;
    font-weight: 700;
    position: relative;

}

.controls-wrapper {
    width: 90%;
    display: flex;
    padding: 2rem;
    border: 2px solid #46cce4;
    border-radius: 8px;
    justify-content: space-around;


    button {
        padding: 0 1rem;
        border: 2px solid #46cce4;
        border-radius: 8px;
        background-color: #46cce4;
        color: #242424;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;

    }
}

.buttonOff {
    opacity: 0.5;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputError{
    border: 2px solid #e13737;
    background-color: #bd6767;
}

.error {
    position: absolute;
    top: -2px;
    right: 25%;
    font-size: 16px;
    color: #e13737;

}
